.app-sidenav{
    min-width: 200px;
    width: 20%;
}
.app-sidebar-button{
    width: inherit;
}
.Link{
    font-size: 18px;
}
.navbar{
    box-shadow: inset 0px -2px 5px 2px  rgb(45, 74, 151);
}
.body{
    height: 800px;
    box-shadow: inset 0px 2px 9px 5px  rgba(121, 121, 121, 0.733);
}